#conteudo {
    div {
        height: 100vh;
        background-color: #dddddd;
    }
    div:nth-child(2){
        background-color: #d3d3d3;
        height: auto;
    }
    div:first-child {
        background-color: white;
        h4 {
            margin: 0px 100px;
        }
    }
}


