<div id="conteudo" >
  <div class="bg-img"></div>
  <div class="d-flex secao"></div>
  <div id="sobre" class="secao">
    <h3 class="bg-primary">Sobre</h3>
    <div class="p-2">
      <p>Meu nome é Augusto, tenho 21 anos, moro em Canoas-RS e curso Análise e Desenvolvimento de Sistemas no IFRS de Canoas.</p>
      <p>Em Agosto de 2019 eu comecei meu estágio em Desenvolvimento Web Front-End com Angular e desde então venho me aprofundando no Front-End.</p>
      <p>O próximo passo objetivo é aprender Back-End utilizando com Node.js e também .NET Core Framework.</p>
    </div>
    <div id="conhecimentos" class="p-2">
      <h4>Conhecimentos</h4>
      <div>
        <div class="skill">
          <img src="../../assets/images/html5.png" alt="">
          <span>HTML</span>
        </div>
        <div class="skill">
          <img src="../../assets/images/css3.png" alt="">
          <span>CSS3</span>
        </div>
        <div class="skill">
          <img src="../../assets/images/bootstrap.png" alt="">
          <span>Bootstrap</span>
        </div>
        <div class="skill">
          <img src="../../assets/images/sass.png" alt="">
          <span>Sass</span>
        </div>
        <div class="skill">
          <img src="../../assets/images/javascript.png" alt="">
          <span>Javascript</span>
        </div>
        <div class="skill">
          <img src="../../assets/images/typescript.png" alt="">
          <span>Typescript</span>
        </div>
        <div class="skill">
          <img src="../../assets/images/angular.png" alt="">
          <span>Angular</span>
        </div>
        <div class="skill">
          <img src="../../assets/images/jest.png" alt="">
          <span>Jest</span>
        </div>
        <div class="skill">
          <img src="../../assets/images/git.png" alt="">
          <span>Git</span>
        </div>
      </div>
    </div>
  </div>
  <div id="projetos" class="secao">
    <h3 class="bg-primary">Meus Projetos</h3>
    <app-projetos></app-projetos>
  </div>
  <div id="contato" class="secao">
    <h3 class="bg-primary">Contato</h3>
    <div class="contatos">
      <div>
        <i class="fa fa-envelope"></i><span>augstarachrafael@gmail.com</span>
      </div>
      <div>
        <i class="fa fa-whatsapp" aria-hidden="true"></i><span>(51) 98133-9668</span>
      </div>
    </div>
  </div>
</div>
