@import '../styles/colors.scss';

nav {
    flex: 1;
    padding: 0vh 1vw;
    align-items: center;
    height: 9vh;
    div:first-child {
        &:focus {
            outline: none;
        }
        h5 {
            margin: 0;
        }
        span {
            font-size: 14px;
        }
    }
    #opcoes {
        display: flex;
        justify-content: flex-end;
        ul {
          margin: 0;
          padding: 0;
          display: flex;
            li > span:hover, i:hover {
                border-bottom: solid 1px;
                cursor: pointer;
            }
            li {
                font-weight: bold;
                font-size: 20px;
                margin: 0;
                list-style: none;
                margin: 1vw;
                border-bottom: solid 1px transparent;
                a {
                    color: red;
                    i {
                        font-size: 30px;
                    }
                }
            }
            #icones {
              display: flex;
            }
        }

    }
    #checkbtn {
        font-size: 30px;
        cursor: pointer;
        display: none;

    }
    #check {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #opcoes {
        position: absolute;
        top: 8vh;
        height: 100vh;
        right: 0vw;
        background-color: $white;
        display: flex;
        justify-content: center !important;
        width: 50vw;
        z-index: 99;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.2s ease-in, opacity 0.2s ease-in;
        ul {
          display: flex;
          flex-direction: column;
          padding: 0;
          li {
            a {
              color: $primary;
              font-size: 14px;
            }
          }
          #icones {
            display: flex;
            justify-content: space-around;
          }
        }
    }
    #opcoes.ativa {
        transform: translateX(0%);
        opacity: 1;
    }
    #checkbtn {
        display: block !important;
    }

    .bg-menu {
      top: 9vh;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: #0000008c;
      left: 0;
    }
}
