<nav [@mudarNavBar]="estado" class="d-flex fixed-top navbar">
  <div>
    <h5>Augusto Rafael</h5>
    <span>Desenvolvedor Front-End</span>
  </div>
  <div (click)="mudarMenu()" class="bg-menu" *ngIf="menu">
  </div>
  <div
    id="opcoes"
    [class.ativa]="menu"
  >
    <ul>
      <li><a (click)="mudarMenu()" href="#sobre" [ngStyle]="mudarEstilo()">Sobre</a></li>
      <li><a (click)="mudarMenu()" href="#projetos" [ngStyle]="mudarEstilo()">Projetos</a></li>
      <li><a (click)="mudarMenu()" href="#contato" [ngStyle]="mudarEstilo()">Contato</a></li>
      <div id="icones">
        <li>
          <a
            [ngStyle]="mudarEstilo()"
            href="https://github.com/arachnidiskandar"
          >
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a
            [ngStyle]="mudarEstilo()"
            href="https://www.linkedin.com/in/augusto-rafael-santos-da-silva-b957b5162/"
          >
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </div>
    </ul>
  </div>
  <input type="checkbox" id="check" />
  <label for="check" id="checkbtn">
    <i (click)="mudarMenu()" class="fa fa-bars"></i>
  </label>
</nav>
